Verilog/obj_dir
Verilog/obj_dir/*
.idea
.vscode
.idea/*
.vscode/*

Chisel/target
Chisel/target/*
Chisel/project/project/*
Chisel/project/project
Chisel/project/target/*
Chisel/project/target
Chisel/test_run_dir
Chisel/test_run_dir/*
SimpleChisel/target
SimpleChisel/target/*
SimpleChisel/project/project/*
SimpleChisel/project/project
SimpleChisel/project/target/*
SimpleChisel/project/target